@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100&display=swap');


:root {
  --background-start-rgb: 45, 55, 85;
  --background-end-rgb: 40, 50, 80;
  --foreground-rgb: 255, 255, 255;
  --primary-font-rgb: 245, 245, 245;
  --secondary-font-rgb:180,180,180;
  --tertiary-font-rgb: 120,120,120;
  --highlight-font-rgb: 14, 211, 207;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-start-rgb: 18, 26, 50;
    --background-end-rgb: 17, 24, 47;
    --foreground-rgb: 255, 255, 255;
  }
}

body {
  color: rgb(var(--primary-font-rgb));
  background: linear-gradient(
      to bottom,
      rgb(var(--background-start-rgb)),
      rgb(var(--background-end-rgb))
  );
  font-family: 'Inter', sans-serif;
  /* padding: 96px; */
}

.secondary-text {
  color: rgb(var(--secondary-font-rgb)); /* Use for less prominent text */
}

.tertiary-text {
  color: rgb(var(--tertiary-font-rgb)); /* Use for text that is even less prominent */
}

html {
  scroll-behavior: smooth;
}

.layout-width {
  width: 65%; /* 3/4 of the width */
  /* other styles as needed */
}

@media (max-width: 1600px) { /* Example breakpoint for slightly smaller screens */
  .layout-width {
    width: 70%;
  }
}

@media (max-width: 1500px) { /* Tablets and larger phones */
  .layout-width {
    width: 75%;
  } 
}

@media (max-width: 1350px) { /* Tablets and larger phones */
  .layout-width {
    width: 85%;
  }
}

@media (max-width: 1200px) { /* Smaller tablets and phones */
  .layout-width {
    width: 90%;
    padding-left: 12px;
  }
}

.social-link-hover:hover {
  color: rgb(var(--highlight-font-rgb)); /* Using the primary font color */
}

.link-hover:hover {
  color: rgb(var(--highlight-font-rgb));
}

nav ul li:hover {
  color: rgb(var(--primary-font-rgb));
}

.group:hover .link-hover {
  color:  rgb(var(--highlight-font-rgb));
}