@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100&display=swap');


:root {
  --background-start-rgb: 45, 55, 85;
  --background-end-rgb: 40, 50, 80;
  --foreground-rgb: 255, 255, 255;
  --primary-font-rgb: 245, 245, 245;
  --secondary-font-rgb:180,180,180;
  --tertiary-font-rgb: 125,125,125;
  --highlight-font-rgb: 14, 165, 233;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-start-rgb: 18, 26, 50;
    --background-end-rgb: 17, 24, 47;
    --foreground-rgb: 255, 255, 255;
  }
}

body {
  color: rgb(var(--primary-font-rgb), 1);
  background: url(/images/background-2.png);
  background-size: cover;
  /* background: rgb(17 24 39); darker blue */
  background-repeat: no-repeat; 
  background-position: right; 
  /* linear-gradient(
      to bottom,
      rgb(var(--background-start-rgb)),
      rgb(var(--background-end-rgb))
  ); */
  font-family: 'Inter', sans-serif;
}

.secondary-text {
  color: rgb(var(--secondary-font-rgb));
}

.tertiary-text {
  color: rgb(var(--tertiary-font-rgb));
}

.highlight-text {
  color: rgb(var(--highlight-font-rgb));
}

.technology-tag {
  color: rgb(var(--highlight-font-rgb));
  background: rgb(var(--highlight-font-rgb), .2);
  border-radius: 9999px;
}

html {
  scroll-behavior: smooth;
}

.layout-width {
  width: 65%;
}

@media (max-width: 1600px) { /* Example breakpoint for slightly smaller screens */
  .layout-width {
    width: 70%;
  }
}

@media (max-width: 1500px) { /* Tablets and larger phones */
  .layout-width {
    width: 75%;
  } 
}

@media (max-width: 1350px) { /* Tablets and larger phones */
  .layout-width {
    width: 85%;
  }
}

@media (max-width: 1200px) { /* Smaller tablets and phones */
  .layout-width {
    width: 90%;
    padding-left: 12px;
  }
}

.social-link-hover:hover {
  color: rgb(var(--highlight-font-rgb)); /* Using the primary font color */
}

.link-hover:hover {
  color: rgb(var(--highlight-font-rgb));
}

nav ul li:hover {
  color: rgb(var(--primary-font-rgb));
}

.group:hover {
  border-color:  rgb(var(--highlight-font-rgb));
}

.group:hover .link-hover {
  color:  rgb(var(--highlight-font-rgb));
}